PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/swargiri?retryWrites=true&w=majority
FIREBASE_PROJECT_ID=swargiri-app
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@swargiri-app.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
CLOUDINARY_CLOUD_NAME=swargiri
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET=abcdefghijklmnopqrstuvwxyz
AI_API_KEY=your_gemini_or_openai_api_key
